#search {
    font-size: larger;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    float: right;
    
}
#saved{
    font-size: larger;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    
}